@font-face {
    font-family: 'Helvetica Neue Regular';
    src: local('Helvetica Neue Regular') local('Helvetica-Neue-Regular'), url('../assets/fonts/HelveticaNeueRegular.otf'), format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}