.contacts {
  background-color: $cl-sec-main;

  .list-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 160px;

    &__link {
      color: $cl-prim-main;
    }

    &__link_email {
      font-size: 41px;
      line-height: 140%;
    }

    &__link_phone {
      font-size: 35px;
      line-height: 140%;
    }

    &__link_privacy {
      font-size: 20px;
      text-decoration: underline;
    }
  }
}

@include mobile {
  .contacts {
    background-color: $cl-sec-main;

    .list-contacts {
      padding-bottom: 112px;

      &__link_email {
        font-size: 28px;
        line-height: 140%;
      }

      &__link_phone {
        font-size: 22px;
        line-height: 140%;
      }

      &__link_privacy {
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
}
