.slider {
  &__container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 800px;
    position: relative;
  }

  .slider-wrapper {
    padding: 72px 0 80px 0px;
    width: 100%;
    height: 100%;
  }

  &__buttons-wrapper {
  }

  .swiper-button-prev-unique {
    position: absolute;
    left: -85px;
    top: 341px;
  }

  .swiper-button-next-unique {
    position: absolute;
    right: -85px;
    top: 341px;
  }
}

.slider__title {
  font-size: 60px;
  line-height: 140%;
  color: #0a2756;
  padding-bottom: 50px;
}

.swiper-container {
  opacity: 0;
  max-width: 800px;
  height: 100%;

  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-slide__item {
      width: 100%;
      height: 111px;
      padding: 25px 0 25px 25px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      bottom: 0;
      background-color: rgba(0, 128, 255, 0.7);
    }

    &__title {
      text-align: left;
      font-size: 24px;
      line-height: 100%;
    }

    &__text {
      text-align: left;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-prev {
  position: absolute;
}

.swiper-custom-pagination {
  padding-top: 49px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background-color: #e4e4e4 !important;
  opacity: 100% !important;
}

.swiper-pagination-bullet-active {
  background-color: #0a2756 !important;
}

@include tablet {
  .slider {
    &__container {
      max-width: 625px;
    }

    .slider-wrapper {
      padding: 27px 0 28px 0;
      width: 100%;
      height: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    &__buttons-wrapper {
      display: none;
    }
  }
}

@include mobile {
  .slider {
    &__container {
      max-width: none;
      padding-left: 20px;
      padding-right: 20px;
    }

    .slider-wrapper {
      padding-top: 0;
      padding-bottom: 42px;
      width: 100%;
      height: 100%;
    }

    .swiper-custom-pagination {
      column-gap: 0;
    }

    .slider__title {
      font-size: 39px;
      color: #0a2756;
      padding-bottom: 30px;
    }
  }
}
